BOT_TOKEN=8941502428:AAGTTLad1mu0y2MQCCRuLUm5jFQTWTbRKD8
YANDEX_API_KEY=AQVNzDl5P8aRS2FkcCU7FRp4_MiHataAdVVFwh5I
YANDEX_FOLDER_ID=b1gmp97e19ti5svj3jml
YANDEX_GPT_MODEL=yandexgpt-lite

WEBHOOK_BASE_URL=https://admin-bot-y1m9.onrender.com
WEBHOOK_SECRET=telegram_webhook_secret_2026
CRON_SECRET=cron_secret_2026

ADMIN_IDS=1019378317

PORT=10000
DATABASE_PATH=content_bot.db
